<table border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#FCFCFC" style="margin:auto;">
        <tr align="center">
            <td><img src="https://i.ibb.co/1rCGVcH/welcome-to-bicus-copy.png" alt="logo image" width="600"></td>
        </tr>
        <tr style="text-align:left;">
            <td style="height:132px; padding-left:30px;"><p style="font-size:30px; font-weight: bold;"><span style="font-size:30px; color:orange"></span> 회원님 환영합니다!<br>메타버스를 마음껏 즐겨보세요!</p></td>
        </tr>
        <tr style="text-align:left;">
            <td style="height:87px; padding-left:30px;"><p>비커스 회원가입을 위한 이메일 인증을 요청하셨습니다.</p><p>아래 버튼을 클릭하면 인증이 완료됩니다.</p></td>
        </tr>
        <tr style="text-align:left;">
            <td style="height:60px; padding-top:20px; padding-bottom: 20px; padding-left:30px;">
                <a href="<%= actionLink %>" style="background-color: #091F7F; padding: 10px 30px 10px 30px; border: 3px solid black; border-radius: 5px; color: white; font-size: 20px; font-weight: bold; line-height: 40px; text-decoration: none;">인증하기</a>
              </td>
        </tr>
        <tr style="text-align:left;">
            <td></td>
        </tr>
        <tr style="text-align:left;">
            <td style="height:87px; padding-left:30px;"><p>요청하지 않은 인증이라면 무시하시길 바랍니다.</p><p>감사합니다.</p>
        </tr>
        <tr style="text-align:left; height:60px;">
            <td style=" background-image:url(https://i.ibb.co/fD3TtHp/12.png); padding-left:30px;"></td>
        </tr>
    </table>
